<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
    </head>
    <body>
        <% include ../partial/header %>

        <div class="container mx-auto my-5 w-full lg:w-2/3">
            <% if(show == "true"){ %> <% include ../partial/toast %> <% } %>
            <h1 class="text-center text-4xl my-5">참여 가능한 체팅방</h1>

            <table class="table table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th style="width: 50%;" class="">체팅방 이름</th>
                        <th style="width: 30%;" class="">방장</th>
                        <th style="width: 20%;" class="">참여자</th>
                    </tr>
                </thead>

                <% if(docs.length == 0){ %>
                    <tr class="w-full text-center">
                        <td colspan="3">
                            <i class="fas fa-exclamation-triangle text-red-600"></i>
                            검색 결과가 없습니다
                        </td>
                    </tr>
                <% } %> 

                <% docs.forEach(room => { %>

                <tr class="w-full">
                    <td class="break-words" style="width: 50%; cursor: pointer;" onclick="javascript: location.href='/messages/joinGroup?room=<%= room._id %>'">
                        <strong><%= room.name %></strong>
                    </td>
                    <td class="text-center" style="width: 30%;"><%= room.master.nickname %></td>
                    <td class="text-center" style="width: 20%;"><%= room.roomMember.length %>명</td>
                </tr>

                <% }); %>
            </table>

            <div class="w-full flex justify-end my-4">
                <button type="button" class="btn btn-secondary" onclick="javascript: location.href='/messages/groupMessage'">내 체팅방으로</button>
            </div>


            <!-- Paginator -->

            <div>
                <nav aria-label="Page navigation mx-auto my-5">
                    <ul class="pagination justify-content-center">
                        <li style="cursor: pointer;" class="page-item <%= current_page == 1 ? "disabled" : "" %>">
                            <a class="page-link" onclick="setUrl('<%= current_page -1 %>')">Prev</a>
                        </li>
                        <li class="page-item"><a class="page-link"><%= current_page %> / <%= total_page %></a></li>
                        <li style="cursor: pointer;" class="page-item <%= current_page == total_page ? "disabled" : "" %>">
                            <a class="page-link" onclick="setUrl('<%= current_page + 1 %>')">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Paginator End -->

            <!-- Search Field -->

            <div class="w-full lg:w-1/2 mx-auto mt-5 text-center">
                <form method="GET">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <input type="text" class="form-control" name="search" placeholder="체팅방 이름" autocomplete="off" required />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="submit" class="form-control btn btn-primary" value="검색"  />
                        </div>
                    </div>
                </form>
            </div>

            <!-- Search Field End -->

        </div>

        <script src="/javascripts/groupList.js"></script>
        <% include ../partial/foot %>
        <!--  -->
        <% include ../partial/footer %>
    </body>
</html>
